@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#todo-app {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#task-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#add-task-btn {
    width: 100%;
    padding: 10px;
    background-color: #363062;
    color: white;
    border: none;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #7077A1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ddd;
    margin-top: 8px;
    padding: 10px;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    cursor: pointer;
    background-color: #FF4C4C;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
}

.remove-btn:hover {
    background-color: #FF7777;
}